@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);

* {
	font-family: 'Roboto Condensed', sans-serif;
}

body {
	text-align: center;
}

div {
	width: 400px;
	display: inline-block;
	text-align: left;
}

h1 {
	margin: 20 auto 10 auto;
}

.left {
	margin: 0 25px 0 10px;
}

.right {
	margin: 0 10px 0 25px;
}

img {
	width: 400px;
	position: relative;
}

#img_color {
	background-color: #FF69B4;
	position: relative;
	float: left;
	width: 400px;
	height: 267px;
	top: -267px;
	opacity: 0;
}

a:link, a:visited {
	text-decoration: none;
	color: #000000;
}

a:hover {
	text-decoration: underline;
}